.coverage
.settings
docs/build
docs/api
build
.tmontmp
.testmondata
*.orig
__pycache__
.pydevproject
.project
venv
*.pyc
*.egg-info
*.swp
last_test_runs
.cproject
dist
.cache
test/data
core.conf
test.conf
py.test_midas
