apipkg==1.4
attrs==16.2.0
bottleneck==1.2.0
chicken-turtle-util[data_frame,exceptions,inspect,path,pymysql,series,sqlalchemy,test]==4.0.1
click==6.6
coverage-pth==0.0.1
coverage==4.2
decorator==4.0.10
drmaa==0.7.6
execnet==1.4.1
inflection==0.3.1
more_itertools==2.2
networkx==1.11
numexpr==2.6.1
numpy==1.11.2
pandas==0.19.1
plumbum==1.6.2
psutil==5.0.0
py==1.4.31
pymysql==0.7.9
pytest-asyncio==0.5.0
pytest-capturelog==0.7
pytest-cov==2.4.0
pytest-env==0.6.0
pytest-localserver==0.3.6
pytest-mock==1.5.0
pytest-xdist==1.15.0
pytest==3.0.4
python-dateutil==2.6.0
pytz==2016.7
scikit-learn==0.18.1
scipy==0.18.1
six==1.10.0
sqlalchemy==1.1.4
sqlparse==0.2.2
werkzeug==0.11.11
