# List of required dependencies
click
numpy
matplotlib
scipy
scikit-learn
pandas
numexpr
bottleneck
plumbum
inflection
more_itertools
memory_profiler
psutil
pyxdg
frozendict
requests
sqlalchemy
pymysql
sqlparse
drmaa

-e /home/limyreth/doc/eclipse_workspace/chicken_turtle_util #[a, b, ...] #TODO add other things we use which were dumped above
#chicken-turtle-util==1.1.0
