# List of required dependencies
click
numpy
matplotlib
scipy
scikit-learn
pandas
numexpr
bottleneck
plumbum
inflection
more_itertools
memory_profiler
psutil
pyxdg
frozendict
requests
sqlalchemy
pymysql
sqlparse

-e /home/limyreth/doc/eclipse_workspace/chicken_turtle_util
#chicken-turtle-util==1.1.0
